<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ask - Faça uma pergunta</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <h1>ASK</h1>
  <hr>
  <h3>Lista de Perguntas</h3>
  <img src="/img/automate-node-1.jpg" alt="">
 
  <h3>Variaveis</h3>

  <%= name  %>
  <%= faculdade  %>
  <%= turma  %>
  <%= remoto  %>

  <ul>
    <li>Professor:  <%= name  %> </li>
    <li>Faculdade: <%= faculdade  %></li>
    <li>turma: <%= turma  %></li>
    <li>Remoto: <%= remoto  %></li>
  </ul>

  <h3>Condicionais</h3>
  <!-- observa a tag do ejs para condicionais -->
  <% if(msg) { %>
  <h3>Exibir aqui nossa notificação de erro.</h3>
  <% } %>

  <% if(!msg) { %>
    <h3>Exibir aqui nossa notificação de erro.</h3>
    <% } else { %>
      <h3>Não tem erro....</h3>
    <% } %>

    <h3>Laço de Repetição</h3>

    <ul>
      <% pessoas.forEach(function(pessoa){ %>
        <li> <%= pessoa.nome %> | <%= pessoa.genero %> </li>
      <% }); %>
    </ul>

    <h1></h1>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>